<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('.././includes/nav.ejs') %>

    <h1>Edit a book!</h1>
    <form action="/admin/edit-book" method="POST">
            <input type="hidden" name="bookId" value="<%= book._id %>">
        <div class="inputs">
            <label>Book Title:</label>
            <input type="text" name="title" value="<%= book.title %>">
        </div>
        <br>
        <div class="inputs">
            <label>Description:</label>
            <input type="text" name="description" value="<%= book.description %>">
        </div>
        <br>
        <div class="inputs">
            <label>Price:</label>
            <input type="text" name="price" value="<%= book.price %>">
        </div>
        <br>
        <div class="inputs">
            <label>Rating:</label>
            <input type="text" name="rating" value="<%= book.rating %>">
        </div>
        <br>
        <div class="inputs">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Edit book</button>
        </div>
    </form>
    <form action="/admin/delete-book" method="POST">
        <input type="hidden" value="<%= book._id %>" name="bookId">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <button class="btn" type="submit">Delete</button>
    </form>
    <a href="/">Back to list</a>
</body>
</html>